services:
  mariadb:
    container_name: firefox_mariadb
    image: linuxserver/mariadb:10.6.13
    volumes:
      - ${MARIADB_DATA_PATH:-./data/config}:/config
      - ${MARIADB_INIT_PATH:-./data/initdb.d/init.sql}:/config/initdb.d/init.sql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: syncstorage_rs
      MYSQL_USER: sync
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

  syncserver:
    container_name: firefox_syncserver
    build: ./app/
    restart: unless-stopped
    ports:
      - "${SYNCSERVER_HOST_PORT:-5300}:8000"
    depends_on:
      - mariadb
    environment:
      RUST_LOG: info
      RUST_BACKTRACE: 1
      SYNC_URL: ${SYNC_URL:-http://192.168.178.57:5300}
      SYNC_CAPACITY: 10
      SYNC_MASTER_SECRET: ${SYNC_MASTER_SECRET}
      METRICS_HASH_SECRET: ${METRICS_HASH_SECRET}
      SYNC_SYNCSTORAGE_DATABASE_URL: mysql://sync:${MYSQL_PASSWORD}@mariadb:3306/syncstorage_rs
      SYNC_TOKENSERVER_DATABASE_URL: mysql://sync:${MYSQL_PASSWORD}@mariadb:3306/syncstorage_rs
